@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Reset default styles for form elements in WebKit browsers */
input,
select,
textarea,
button {
  appearance: none; /* Reset default appearance styles */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox, although it doesn't support appearance */
  border-radius: 0; /* Remove default border radius */
  border: none; /* Remove default borders */
  outline: none; /* Remove default outlines */
  background-color: transparent; /* Remove default background color */
  font: inherit; /* Use inherit font */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  box-shadow: none; /* Remove box shadow */
}

/* Additional styles for specific form elements */
select {
  background-image: none; /* Remove default dropdown arrow icon */
  cursor: pointer; /* Change cursor style */
}
