.animated {
  animation: moveAnimation 7s ease-in-out infinite;
}
@keyframes moveAnimation {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
